body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #013369 0%,
    #013369 120px,
    #f4f4f4 120px
  );
  text-align: center;
}


header {
    background: #222;
    color: white;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
}

h2 {
    margin-top: 40px;
}

form input {
    margin: 5px;
    padding: 8px;
}
